

#landingpagehdr {

background-image: url('../images/frontend_images/profile_city.jpg') !important;

}

#registerpagehdr {
	background-image: url('../images/frontend_images/bg7.jpg'); 
	background-size: cover; 
	background-position: top center;
}

.error {
	color: #f44336 !important;
}

a.dropdown-item:hover {
	background-color: #e91e63 !important;
}

.material-icons, .fa {
	font-size: 1.8rem !important;
}


.form-check .form-check-input:checked~.circle {
	border-color: #e91e63 !important;
}

.form-check .form-check-label .circle .check {
	background-color: #e91e63 !important;
}

.form-control, .is-focused .form-control {
	background-image: linear-gradient(to top, #e91e63 2px, rgba(156, 39, 176, 0) 2px), linear-gradient(to top, #d2d2d2 1px, rgba(210, 210, 210, 0) 1px) !important;
}